/* * {
	border: 1px dashed red;
	min-height: 10px;
} */

#root {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

main {
	flex: 1;
}


.list-group {
	display: flex;
	flex-direction: columns;
	/* align-items: center; */
	gap: 1em;
}

@media (min-width: 950px) {
	.list-group {
		padding-left: 15%;
		padding-right: 15%;
	}
}



.list-group-item {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.userData {
	flex: 2;
	display: flex;
	align-items: center;
}

.userImage {
	height: 80px;
	aspect-ratio: 1/1;
	border-radius: 50%;
	margin: 0 0.8em;
}

.userDetails {
	display: grid;
	flex: 1;
}

.userInfo {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.actionButtons {
	display: flex;
	flex: 1;
	flex-wrap: wrap;
	height: auto;
}

.actionButtons>* {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 50%;
}

@media (min-width: 403px) {
	.actionButtons>* {
		max-height: 55%;
	}

}